<h1 class="text-center mt-4" style="font-family: 'Times New Roman', Times, serif;">Categories</h1>


<div class="container">
  <div class="row justify-content-md-center">
      <% category = Category.where(id: 1).first %>
      <div class="col-2 mt-3">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
            <% if logged_in? %>
              <p class="card-text">Habits: <%= Habit.where(category_id: category.id,user_id: current_user.id).count %></p>
            <% end %>  
            <% if logged_in? && current_user.admin? %>
              <%= link_to "View", category_path(category), class: "btn btn-outline-success btn-block" %> 
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-info btn-block" %>        
            <% end %>
          </div>
          <%= image_tag("travel1.jpeg", alt: "Image", class: "card-img-right") %>
        </div>
      </div>
      <% category = Category.where(id: 2).first %>
      <div class="col-2 mt-3">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
            <% if logged_in? %>
              <p class="card-text">Habits: <%= Habit.where(category_id: category.id,user_id: current_user.id).count %></p>
            <% end %>  
            <% if logged_in? && current_user.admin? %>
              <%= link_to "View", category_path(category), class: "btn btn-outline-success btn-block" %> 
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-info btn-block" %>        
            <% end %>
          </div>
          <%= image_tag("sports.jpeg", alt: "Image", class: "card-img-right") %>
        </div>
      </div>

      <% category = Category.where(id: 3).first %>
      <div class="col-2 mt-3">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
            <% if logged_in? %>
              <p class="card-text">Habits: <%= Habit.where(category_id: category.id,user_id: current_user.id).count %></p>
            <% end %>  
            <% if logged_in? && current_user.admin? %>
              <%= link_to "View", category_path(category), class: "btn btn-outline-success btn-block" %> 
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-info btn-block" %>        
            <% end %>
          </div>
          <%= image_tag("lifestyle.jpeg", alt: "Image", class: "card-img-right") %>
        </div>
      </div>

      <% category = Category.where(id: 5).first %>
      <div class="col-2 mt-3">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
            <% if logged_in? %>
              <p class="card-text">Habits: <%= Habit.where(category_id: category.id,user_id: current_user.id).count %></p>
            <% end %>  
            <% if logged_in? && current_user.admin? %>
              <%= link_to "View", category_path(category), class: "btn btn-outline-success btn-block" %> 
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-info btn-block" %>        
            <% end %>
          </div>
          <%= image_tag("passion.jpeg", alt: "Image", class: "card-img-right") %>
        </div>
      </div>

      <% category = Category.where(id: 6).first %>
      <div class="col-2 mt-3">
        <div class="card shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
            <% if logged_in? %>
              <p class="card-text">Habits: <%= Habit.where(category_id: category.id,user_id: current_user.id).count %></p>
            <% end %>  
            <% if logged_in? && current_user.admin? %>
              <%= link_to "View", category_path(category), class: "btn btn-outline-success btn-block" %> 
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-info btn-block" %>        
            <% end %>
          </div>
          <%= image_tag("knowledge.jpeg", alt: "Image", class: "card-img-right") %>
        </div>
      </div>


  </div>

                <div style="width: 90%;" class = "ml-8">
  <%= column_chart({"Custom" => Habit.where(category_id: 1,user_id: current_user.id).count,
                    "Sports" => Habit.where(category_id: 2,user_id: current_user.id).count,
                    "Lifestyle" => Habit.where(category_id: 3,user_id: current_user.id).count,
                    "Passion" => Habit.where(category_id: 5,user_id: current_user.id).count,
                    "Knowledge" => Habit.where(category_id: 6,user_id: current_user.id).count,
                   }) %>
</div>

</div>









