<h1 class="text-center mt-4">Category: <%= @category.name %></h1>
<% if logged_in? && (current_user.admin?) %>
  <div class="row justify-content-md-center">
   <%= link_to "Edit category", edit_category_path(@category), class: "btn btn-outline-success" %>
  </div>
<% end %>
<% @habits = Habit.where(category_id: @category.id) %>

<div class="container">
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Title</th>
        <th>Frequency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @habits.each do |habit| %>
        <% if logged_in? && (habit.user == current_user || current_user.admin?) %>
          <tr>
            <td><%= link_to habit.title, habit_path(habit), class: "text-success" %></td>
            <td><%= habit.frequency %></td>
            <td>
              <%= link_to "View", habit_path(habit), class: "btn btn-outline-success btn-sm" %>
              <%= link_to "Edit", edit_habit_path(habit), class: "btn btn-outline-info btn-sm" %>
              <%= link_to "Delete", habit_path(habit), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>




